:host {
  --border-width: 4px;
}

.thumbnail {
  width: var(--preview-width, 260px);
  aspect-ratio: var(--preview-aspect-ratio, 1 / 1);
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: var(--border-width);
}

.container::before {
  content: '';
  position: absolute;
  z-index: -2;
  width: 80%;
  height: 140%;
  background-color: var(--theme-color, whitesmoke);
  box-shadow: 0 0 200px gray;
}

.container.active::before {
  animation: spin 800ms ease-in-out forwards;
}

.container::after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: var(--border-width);
  background-color: white;
}

@keyframes spin {
  to {
    rotate: 220deg;
    width: 0;
  }
}
