:host {
  --border-width: 4px;
}

.thumbnail {
  width: var(--preview-width, 260px);
  aspect-ratio: var(--preview-aspect-ratio, 1 / 1);
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: var(--border-width);
  /* width: fit-content;
  height: fit-content;
  max-width: 70vw;
  max-height: 70vh; */
}

.container::before {
  content: '';
  position: absolute;
  z-index: -2;
  width: 80%;
  height: 140%;
  background-color: whitesmoke;
  box-shadow: 0 0 200px gray;
  /* animation: spin 4s linear infinite; */
}

.container.active::before {
  animation: spin 800ms ease-in-out forwards;
}

.container::after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: var(--border-width);
  background-color: white;
}

@keyframes spin {
  to {
    rotate: 220deg;
    width: 0;
  }
}

.media-marker {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.a-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.stroke {
  position: absolute;
  inset: 0;
  clip-path: inset(0 0 100% 0);
}

.right.stroke {
  clip-path: inset(100% 0 0 0);
}

.thumbnail:hover .stroke {
  animation: reveal 0.3s ease-out forwards;
}

.stroke p {
  position: absolute;
  width: calc(var(--box-size) / 10);
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(0, 0, 0, 0.3);
  transform-origin: top;
}

.left p {
  transform: skewX(30deg) translate(-50%, 0);
}

.right p {
  transform: skewX(-30deg) translate(-50%, 0);
}

@keyframes reveal {
  to {
    clip-path: inset(0 0 0 0);
  }
}
