.thumb {
  width: 260px;
  height: 150px;
  background: #000;
  overflow: hidden;
  border: 2px solid red;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal img {
  max-width: 70vw;
  max-height: 70vh;
}
