.thumbnail {
  width: var(--cover-size);
  overflow: hidden;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .modal audio {
  visibility: hidden;
} */

.modal .image-container {
  position: relative;
  width: min(50vw, 50vh);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
  transition: box-shadow 200ms ease;
  /* overflow: hidden; */
  /* filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.18))
    drop-shadow(0 16px 32px rgba(0, 0, 0, 0.12)); */
}

.image-container:hover {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}

.image-container .cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  /* mask-mode: luminance; */
}

.image-container .mask {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 10;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

svg {
  position: absolute;
  width: 130%;
  height: 130%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  filter: brightness(1.8);
}

.ring {
  position: absolute;
  inset: 0;
  z-index: 100;
  --a: 0deg;
  --thickness: 12px;
  border-radius: 50%;

  background: conic-gradient(lime var(--a), rgba(255, 255, 255, 0.15) 0);

  mask: radial-gradient(
    circle,
    transparent calc(75% - var(--thickness)),
    #000 calc(50% - var(--thickness) + 1px)
  );
  border: solid 1px red;
  pointer-events: none;
}

.wrapper {
  animation: spin 5s linear infinite;
  animation-play-state: paused;
}
