.thumbnail {
  width: var(--cover-size, 100px);
  overflow: hidden;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
}

.thumbnail img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.15s;
  clip-path: inset(0 0 0 0);
}

.thumbnail > img:nth-of-type(1) {
  clip-path: inset(0 87.5% 0 0);
}

.thumbnail > img:nth-of-type(2) {
  clip-path: inset(0 72.5% 0 12.5%);
}

.thumbnail > img:nth-of-type(3) {
  clip-path: inset(0 57.5% 0 27.5%);
}

.thumbnail > img:nth-of-type(4) {
  clip-path: inset(0 42.5% 0 42.5%);
}

.thumbnail > img:nth-of-type(5) {
  clip-path: inset(0 27.5% 0 57.5%);
}

.thumbnail > img:nth-of-type(6) {
  clip-path: inset(0 12.5% 0 72.5%);
}

.thumbnail > img:nth-of-type(7) {
  clip-path: inset(0 0 0 87.5%);
}

.thumbnail:hover > img:nth-of-type(1) {
  clip-path: inset(45% 90% 45% 0);
}

.thumbnail:hover > img:nth-of-type(2) {
  clip-path: inset(35% 75% 35% 15%);
}

.thumbnail:hover > img:nth-of-type(3) {
  clip-path: inset(30% 60% 30% 30%);
}

.thumbnail:hover > img:nth-of-type(4) {
  clip-path: inset(20% 45% 20% 45%);
}

.thumbnail:hover > img:nth-of-type(5) {
  clip-path: inset(30% 30% 30% 60%);
}

.thumbnail:hover > img:nth-of-type(6) {
  clip-path: inset(35% 15% 35% 75%);
}

.thumbnail:hover > img:nth-of-type(7) {
  clip-path: inset(45% 0 45% 90%);
}

:host(:focus-within) .thumbnail > img:nth-of-type(1) {
  clip-path: inset(45% 90% 45% 0);
}

:host(:focus-within) .thumbnail > img:nth-of-type(2) {
  clip-path: inset(35% 75% 35% 15%);
}

:host(:focus-within) .thumbnail > img:nth-of-type(3) {
  clip-path: inset(30% 60% 30% 30%);
}

:host(:focus-within) .thumbnail > img:nth-of-type(4) {
  clip-path: inset(20% 45% 20% 45%);
}

:host(:focus-within) .thumbnail > img:nth-of-type(5) {
  clip-path: inset(30% 30% 30% 60%);
}

:host(:focus-within) .thumbnail > img:nth-of-type(6) {
  clip-path: inset(35% 15% 35% 75%);
}

:host(:focus-within) .thumbnail > img:nth-of-type(7) {
  clip-path: inset(45% 0 45% 90%);
}

.modal .image-container {
  position: relative;
  width: min(50vw, 50vh);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  box-shadow: 0 0 0 0px black;
  transition: box-shadow 150ms ease;
}

.image-container:hover {
  box-shadow: 0 0 0 1px black;
}

.image-container .cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
}

.wrapper {
  animation: spin 5s linear infinite;
  animation-play-state: paused;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

svg {
  position: absolute;
  width: 130%;
  height: 130%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.ring-svg circle {
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}

.text-hint {
  width: 135%;
  height: 135%;
}

.ring-progress {
  stroke: var(--theme-color, white);
  stroke-linecap: butt;
  transition: stroke-dashoffset 120ms linear;
}
