.thumbnail {
  width: var(--cover-size);
  overflow: hidden;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .modal audio {
  visibility: hidden;
} */

.modal .image-container {
  position: relative;
  width: min(50vw, 50vh);
  aspect-ratio: 1 / 1;
  /* border-radius: 50%; */
  /* overflow: hidden; */
  /* filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.18))
    drop-shadow(0 16px 32px rgba(0, 0, 0, 0.12)); */
}

.image-container .cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  /* mask-mode: luminance; */
}

.image-container .mask {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 10;
}
