.thumbnail {
  width: var(--cover-size);
  overflow: hidden;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .modal audio {
  visibility: hidden;
} */
