.thumbnail {
  width: var(--cover-size);
  overflow: hidden;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .modal audio {
  visibility: hidden;
} */

.modal .image-container {
  width: min(50vw, 50vh);
  aspect-ratio: 1 / 1;
  /* border-radius: 50%; */
  overflow: hidden;
  border: solid lime 2px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
