:host {
  display: inline-block;
  position: relative;
  cursor: pointer;
  --box-size: 200px;
  --theme-color: chartreuse;
}

:host(:focus-within) {
  outline: 2px solid var(--theme-color);
  outline-offset: 2px;
  /* box-shadow: 0 0 0 3px var(--theme-color); */
  box-shadow: 0 0 0 1px var(--theme-color);
}

:host([disabled]) {
  opacity: 0.4;
  pointer-events: none;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

/* thumbnail */
.thumbnail {
  overflow: hidden;
}

/* modal */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2147483647; /* 最大安全整数 */
}

:host([active]) .modal {
  display: flex;
}
