:host {
  display: inline-block;
  position: relative;
  cursor: pointer;
  --box-size: 200px;
  --theme-color: chartreuse;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

/* thumbnail */
.thumbnail {
  overflow: hidden;
}

/* modal */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2147483647; /* 最大安全整数 */
}

:host([active]) .modal {
  display: flex;
}
