:host {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.thumb {
  width: 260px;
  height: 150px;
  background: #000;
  border-radius: 8px;
  overflow: hidden;
  /* border: 2px solid red; */
}

.thumb video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* modal */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  border: 2px solid lime;
}

.modal.active {
  display: flex;
}

.modal video {
  width: 80vw;
  height: auto;
  border-radius: 10px;
  max-height: 80vh;
}
