:host {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

/* thumbnail */
.thumbnail {
  background: #000;
  overflow: hidden;
}

/* modal */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal.active {
  display: flex;
}
