:host {
  --progress-bar-width: 4px;
}

.thumbnail {
  width: var(--preview-width, 260px);
  aspect-ratio: var(--preview-aspect-ratio, 1 / 1);
}

video {
  width: 100%;
  height: 100%;
}

.modal video {
  width: 80vw;
  height: auto;
  max-height: 80vh;
}

.progress-bar {
  width: 100%;
  height: var(--progress-bar-width);
  background-color: var(--theme-color);
  transform-origin: left;
  transform: scaleX(var(--progress));
  will-change: transform;
  transition: all 0.15s;
}

.media-marker {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.v-container {
  position: relative;
  height: 100%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stroke {
  position: absolute;
  inset: 0;
  clip-path: inset(0 -50% 100% -50%);
}

.right.stroke {
  clip-path: inset(100% -50% 0 -50%);
}

.thumbnail:hover .stroke {
  animation: reveal 0.3s ease-out forwards;
}

.stroke p {
  position: absolute;
  width: calc(var(--box-size) / 10);
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(0, 0, 0, 0.3);
  transform-origin: bottom;
}

.left p {
  transform: skewX(30deg) translate(-50%, 0);
}

.right p {
  transform: skewX(-30deg) translate(-50%, 0);
}

@keyframes reveal {
  to {
    clip-path: inset(0 -50% 0 -50%);
  }
}
