.thumbnail {
  width: var(--preview-width, 260px);
  aspect-ratio: var(--preview-aspect-ratio, 1 / 1);
}

video {
  width: 100%;
  heigth: 100%;
}

.modal video {
  width: 80vw;
  height: auto;
  max-height: 80vh;
}
