:host {
  --progress-bar-width: 4px;
}

.thumbnail {
  width: var(--preview-width, 260px);
  aspect-ratio: var(--preview-aspect-ratio, 1 / 1);
}

video {
  width: 100%;
  height: 100%;
}

.modal video {
  width: 80vw;
  height: auto;
  max-height: 80vh;
}

.progress-bar {
  width: 100%;
  height: var(--progress-bar-width);
  background-color: var(--theme-color);
  transform-origin: left;
  transform: scaleX(var(--progress));
  will-change: transform;
  transition: all 0.15s;
}
